VOLUNTEER_NAME=twoj_nick

COORDINATOR_URL=http://norbert232.mikrus.xyz:20232

# Klucze Internet Archive (S3)
AUTO_UPLOAD=true
IA_ACCESS_KEY=
IA_SECRET_KEY=

# Limity zapytań (bezpieczny przedział: 3-5 req/s)
REQUESTS_PER_SECOND=4.0
CONCURRENCY=3

# Multimedia i podstrony odpowiedzi
DOWNLOAD_IMAGES=true
FOLLOW_PAGINATION=true
